
* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:antiquewhite;
    background-blend-mode: lighten;
    transition: all 0.3s ease-out;
}
.container{
    width: 100%;
    height: 90vh;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
}
.container .outer-container{
    width: 90%;
    height: 80vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.container .outer-container .inner-container{
    width: 90%;
    height: 70vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.container .outer-container .inner-container .layer-container{
    width: 80%;
    height: 60vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.container .outer-container .inner-container .layer-container .main-container {
    width: 90%;
    height: 50vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.container .outer-container .inner-container .layer-container .main-container .final-container{
    width: 80%;
    height: 40vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.container .outer-container .inner-container .layer-container .main-container .final-container .quote-container{
    width: 100%;
    height: 40vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.quote-container #content{
    font-size: 22px;
    color:#fff;
    font-family: monospace;
    text-align: center;
}
.quote-container #author{
    text-align: right;
    font-size: 22px;
    font-family: monospace;
    color: #fff;
    position: relative;
    top: 20px;
    left: -20px;
}
.fa-plus{
    color: #fff;
    position: relative;
    left: 10px;
    
}
.another-plus{
    visibility: visible;
}
.fa-close{

    color: #fff;
    float:right;
    position: relative;
    right: 10px;
}

.quote-container button{
    padding: 15px 25px;
    outline: none;
    border: none;
    background-color: rgb(150, 72, 72);
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-family:monospace;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

button:hover{
    background-color: red;
}
