@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@500&display=swap');

body{
    background-color: #040D12;
    font-family: 'Poppins', sans-serif;
}
.App{
    font-family: 'Montserrat', sans-serif;
    color: #1F51FF;
    cursor: pointer;
}
